@charset "utf-8";
:root {
  --main-color: #42ce9f;
}
body{
	/* http://www.softel.co.jp/blogs/tech/archives/2909 */
	user-select: none; /* CSS3 */
	-moz-user-select: none; /* Firefox */
	-webkit-user-select: none; /* Safari、Chromeなど */
	-ms-user-select: none; /* IE10かららしい */
	text-align:left;
	color:#333333;
	font-size-adjust:none;
	-webkit-text-size-adjust:100%;/* Mobile Safari : 文字サイズの自動調整をオフに */
}
body,input,textarea,select,option,button{
	font-family:"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Meiryo","メイリオ", sans-serif;
	font-size:medium;
	line-height:1.7;
}
*{
	outline: none;
}
